@import '../../assets/_variable';

.input {
    font-size: 1em;
    border: 2px solid transparent;
    background-color: $color5;
    padding: 1em;
    width: 360px;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    position: relative;
    
    &>svg {
        position: absolute;
        font-size: 2em;
        color: $color3;
    }

    input {
        width: 100%;
        border: none;
        outline: none;
        padding-left: 3em;

        &::placeholder {
            color: $color4,
        }
    }
}

.invalid {
    border: 2px solid red;
}