@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600&display=swap');
@import './assets/_variable';
@import './assets/_responsive';

html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    @include mobile {
        overflow-y: scroll;
    }
}
* {
    box-sizing: border-box;
}

html {
    --font_family_nomal: 'Poppins', sans-serif;
    --font_size_nomal: 13px;
    --font_weight_nomal: 400;
}

body {
    font-size: var(--font_size_nomal);
    font-family: var(--font_family_nomal);
    font-weight: var(--font_weight_nomal);
    background: url('./assets/image/bg.png') #333333e0;
    background-blend-mode: saturation;
    color: $primary_color;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

img {
    max-width: 100%;
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #3d3d3d;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb {
    background: #292828;
    border-radius: 15px;
    transition: all .3s ease .2s;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
