@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;600&display=swap');
@import './assets/_variable';

html,
body {
    padding: 0;
    margin: 0;
}

html {
    --font_family_nomal: 'Exo', sans-serif;
    --font_size_nomal: 1em;
    --font_weight_nomal: 500;
}

body {
    font-size: var(--font_size_nomal);
    font-family: var(--font_family_nomal);
    font-weight: var(--font_weight_nomal);

    background-color: $bg_color_nomal;
    color: $primary_color;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

img {
    max-width: 100%;
    display: block;
}
