@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import './assets/_font';
@import './assets/_variable';

* {
    box-sizing: border-box;
}

:root {
    --font-size: 14px;
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-second: 'OARC', sans-serif;
    --font-weight: 400;
}

body {
    margin: 0;
    font: {
        family: var(--font-family-primary);
        size: var(--font-size);
        weight: var(--font-weight);
    }
    color: $color2;
    background-color: $color1;
    overflow-x: hidden;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        display: block;
    }
}
