$bg_color_nomal: #f8f9fa;
$primary_color: #9c9c9c;
$primary_color--body: #21212175;
$primary_color--header: #222222;

$text_color_nomal: #2b2d42;
$text_color_nomal--active: #f8f9fa;
$text_color--hover: #3EAA6C;
$resume__sidebar--bg: #3B3B3B;

$transition__nomal: .3s ease-in-out;