@import '../assets/_variable';
@import '../assets/_responsive';
@import '../assets/_mixin';

.wrapper {
    transition: transform 0.5s ease;
    height: 100vh;

    &__layer {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        z-index: 2;
        background-color: $color2;
        transition: all 0.5s ease-in-out;
    }
    &__container {
        padding-top: 5em;
    }
}

.fade-appear,
.fade-enter {
    opacity: 0;
    transform: translateY(10px);
}

.fade-appear-active,
.fade-enter-active {
    transition: 0.3s ease-in;
    transform: translateY(0px);
    opacity: 1;
}

.fade-exit {
    transition: 0.3s ease-out;
    transform: translateY(0px);
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transform: translateY(10px);
}
