@import '../../assets/_responsive';
@import '../../assets/_variable';

.card {
    margin: 1em auto;
    max-width: 29em;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);

    & > a {
        margin: auto;
        display: block;
        height: 21em;
        overflow: hidden;
    }
    &__image {
        width: 100%;
        height: auto;
    }
    &__info {
        background-color: $color5;
        margin: auto;
        padding: 1em 2em;

        &--title {
            font-weight: 500;
            text-overflow: ellipsis;
            line-height: 2;
            text-decoration: none;
            color: $color2;

            &:hover {
                text-decoration: underline;
            }
        }

        &--orther {
            margin: 1em 0;
            display: flex;
            justify-content: space-between;
            font-size: 0.8em;

            & > .in_category {
                color: $color6;
                a {
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 1.2em;
                    color: $color3;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            & > .publish_date {
                color: $color6;
            }
        }
    }
}
