@import '../../assets/_variable';
@import '../../assets/_animation';
@import '../../assets/_responsive';

.resume {
    scroll-behavior: smooth;
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 6.3em);

    @include mobile {
        height: inherit;
    }

    &__sidebar {
        width: 4.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $resume__sidebar--bg;
        height: 100%;

        @include mobile {
            display: none;
        }

        &--group {
            margin: auto 0 auto 5em;
            height: 13em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &--element {
            display: flex;
            align-items: center;
            cursor: pointer;

            &::before {
                content: '';
                background: $primary_color;
                height: 1px;
                width: 15px;
                margin: 0 1em 0 0;
            }

            &[title-sidebar]::after {
                content: attr(title-sidebar);
                text-transform: uppercase;
                font-size: 12px;
                color: $primary_color;
            }

            &:hover {
                &::after {
                    color: $text_color--hover;
                }

                &::before {
                    background-color: $text_color--hover;
                }
            }
        }
    }

    &__avatar,
    &__detail {
        height: auto;
        margin-top: 3em;
    }

    &__avatar {
        width: 35em;
        margin-left: 4em;
        position: relative;
        overflow: hidden;

        @include mobile {
            display: none;
        }
    }

    &__detail {
        width: 32em;
        padding: 0 1em;
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;
        transition: 0.3s ease-in-out;

        @include mobile {
            width: 38em;
            margin: 2em auto;
            overflow: hidden;
        }
    }

    &__title {
        display: flex;
        align-items: center;

        & > * {
            font-size: 2em;
        }

        &--icon {
            color: $text_color--hover;
            margin-right: 1em;
        }
    }

    &__about {
        &__info {
            display: flex;
            flex-wrap: wrap;
            color: $text_color--hover;

            &--item {
                &:nth-child(1),
                &:nth-child(2) {
                    &::after {
                        content: '/';
                        color: $primary_color;
                        margin: 0 1em;
                    }
                }
            }
        }
    }

    &__contact {
        &--info {
            &--brief {
                margin-bottom: 1em;
            }
        }

        &--title {
            font-size: 2em;
            margin: 0 !important;
        }

        &--method {
            margin: 1em auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));

            & > * {
                font-size: 1.5em;
                color: $text_color--hover;
                margin: 1em 0;
                display: flex;
                align-items: center;
            }

            &--location,
            &--phone,
            &--email {
                &::after {
                    content: attr(data-text);
                    font-size: 12px;
                    margin-left: 1em;
                }
            }
        }

        &--form {
            display: flex;
            flex-direction: column;

            & > * {
                margin: 1em 0;
            }
        }

        &--username,
        &--email,
        &--message {
            outline: none;
            padding: 1em 0 1em 0.5em;
        }

        &--button {
            width: 10em;
            padding: 1em;
            text-transform: uppercase;
            color: white;
            background-color: $text_color--hover;
            border: 2px solid $text_color--hover;
            outline: none;
            cursor: pointer;
            transition: 0.3s ease;

            &:hover {
                background-color: white;
                color: $text_color--hover;
            }
        }
    }

    section {
        border-bottom: 1px solid #3b3b3b;
        &:first-child > .resume__title {
            margin-top: 0;
        }
        &:last-child {
            border-bottom: none;
        }
        & > * {
            margin: 2em auto;
        }
    }
}

.skills__types {
    text-transform: uppercase;

    &--name {
        display: flex;
        align-items: center;
        font-weight: 700;

        &::before {
            content: '';
            height: 1px;
            width: 1em;
            margin-right: 1em;
            background-color: $primary_color;
        }
    }

    &--listgroup {
        display: grid;
        margin: 1em;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

        &--item {
            margin-bottom: 1em;
            letter-spacing: 1px;
        }
    }

    .item {
        &--total {
            display: flex;

            .light {
                background-color: $text_color--hover;
            }
        }

        &--value {
            width: 0.7em;
            height: 0.7em;
            background-color: $primary_color;
            border-radius: 50%;
            margin-right: 0.3em;
        }
    }
}

.vertial__line {
    width: 1px;
    height: 4em;
    background: $primary_color;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__group {
        &--element {
            font-size: 20px;
            margin: 1em;

            a {
                color: $primary_color;

                &:hover {
                    color: $text_color--hover;
                }
            }
        }
    }
}

#resume__map {
    width: 100%;
    height: 20em;
}
