@import '../../assets/_variable';
@import '../../assets/_responsive';

.resume {
    max-width: $desktop;
    margin: 5em auto;
    display: flex;

    &__sidebar {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .navbar {
            display: flex;
            flex-direction: column;
            position: fixed;

            &--item {
                text-transform: uppercase;
                cursor: pointer;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;

                font: {
                    family: var(--font-family-second);
                }

                margin: 2em auto;

                &::before {
                    content: '';
                    width: 1em;
                    height: 1px;
                    position: absolute;
                    left: -1.2em;
                    background-color: $color2;
                }
            }
        }
    }

    &__content {
        width: 70%;

        .about {
            display: flex;

            &>svg {
                font-size: 12em;
            }

            .info {
                color: $color3;
                font-style: italic;

                span:nth-child(1),
                span:nth-child(2) {
                    &::after {
                        content: '/';
                        margin: 0 10px;
                    }
                }
            }
        }

        .item {
            &>* {
                margin-bottom: 1em;
            }

            .title {
                display: flex;
                color: $color3;

                svg {
                    font-size: 3em;
                }

                span {
                    font-family: var(--font-family-second);
                    font-size: 2em;
                    margin: auto 1em;
                }
            }


        }

        section {
            border-bottom: 1px solid $color4;
        }
    }
}