@import '../../assets/_variable';
@import '../../assets/_animation';

.home {
    &__menubar {
        display: flex;
        box-shadow: 1px 0 0 0 $color4, 0 1px 0 0 $color4, 0px 0px 0 0 $color4,
            0px 0 0 0 $color4 inset, 0 0px 0 0 $color4 inset;

        & > * {
            box-shadow: 1px 0 0 0 $color4, 0 1px 0 0 $color4,
                0px 0px 0 0 $color4, 0px 0 0 0 $color4 inset,
                0 0px 0 0 $color4 inset;

            .title {
                font-family: var(--font-family-second);
                font-size: 1em;
                display: block;
                width: 10.15em;
                padding: 2em;
                text-transform: uppercase;
                text-align: center;
                position: relative;
                cursor: pointer;
            }
        }
    }

    &__container {
        margin: 4em auto;
        display: grid;

        @media only screen and (max-width: 850px) {
            grid-template-columns: repeat(1, 1fr);
        }
        @media only screen and (min-width: 851px) and (max-width: 1260px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media only screen and (min-width: 1261px) and (max-width: 1708px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media only screen and (min-width: 1709px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__loading {
        margin: auto;
        position: relative;
        width: 80px;
        height: 80px;

        & > * {
            position: absolute;
            top: 33px;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: $color2;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
        }
        span {
            &:nth-child(1) {
                left: 8px;
                animation: lds-ellipsis1 0.6s infinite;
            }
            &:nth-child(2) {
                left: 8px;
                animation: lds-ellipsis2 0.6s infinite;
            }
            &:nth-child(3) {
                left: 32px;
                animation: lds-ellipsis2 0.6s infinite;
            }
            &:nth-child(4) {
                left: 56px;
                animation: lds-ellipsis3 0.6s infinite;
            }
        }
    }
}
