@import '../../assets/_variable';
@import '../../assets/_responsive';

.home {
    &__menubar {
        display: flex;
        box-shadow: 1px 0 0 0 $color4, 0 1px 0 0 $color4, 0px 0px 0 0 $color4,
            0px 0 0 0 $color4 inset, 0 0px 0 0 $color4 inset;

        &>* {
            box-shadow: 1px 0 0 0 $color4, 0 1px 0 0 $color4,
                0px 0px 0 0 $color4, 0px 0 0 0 $color4 inset,
                0 0px 0 0 $color4 inset;
            user-select: none;
            width: 150px;

            .title {
                font-family: var(--font-family-second);
                font-size: 1em;
                display: block;
                width: 10.15em;
                padding: 2em;
                text-transform: uppercase;
                text-align: center;
                position: relative;
                cursor: pointer;
                transition: all .3s ease-in-out;

                &:hover~.content {
                    transform: translateY(0);
                }
            }
        }

        &--category,
        &--tag {
            .content {
                display: grid;
                transform: translateY(-300%);
                position: absolute;
                background-color: $color5;
                flex-direction: column;
                padding: 2em 5em;
                grid-template-columns: repeat(3, 1fr);
                box-shadow: 1px 0 0 0 $color4, 0 1px 0 0 $color4,
                    0px 0px 0 0 $color4, 1px 0 0 0 $color4 inset,
                    0 1px 0 0 $color4 inset;

                &:hover {
                    transform: translateY(0);
                }

                &--item {
                    padding: 1em;
                    margin: 1em;
                    border: 1px solid;
                    justify-content: center;
                    align-items: center;
                    display: flex;

                    a {
                        text-decoration: none;
                        color: $color2;
                    }
                }
            }
        }
    }
}