@import '../../assets/_variable';
@import '../../assets/_responsive';

footer {
    background-color: $primary_color;
    color: $text_color_nomal--active;
    padding: 2em 0;
}

.footer__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 23%);
    gap: 2%;
}
