@import '../../assets/_variable';
@import '../../assets/_responsive';

footer {
    padding: 2em 0;
}

.footer__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 23%);
    gap: 2%;
}
