@import '../../assets/_mixin';
@import '../../assets/_responsive';
@import '../../assets/_variable';

#header {
    position: fixed;
    width: 100%;
    height: 6.3em;
    z-index: 1;
    background: $primary_color--header;
}
.header__container {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    justify-content: space-between;
    margin: auto;
    max-width: $desktop;

    .header__logo {
        display: inherit;
        align-items: center;
        margin: 0 1em;
        @include reset-link();
        &--primary {
            font-size: 40px;
            font-family: 'Pacifico', cursive;
            cursor: pointer;
        }
        &--secondary {
            font-size: 12px;
            font-weight: 100;
        }
        &--split {
            height: 1.5em;
            width: 1px;
            background-color: #9c9c9c;
            margin: 1.5em;
        }
    }
    .header__navbar {
        display: inherit;
        align-items: center;
        justify-content: space-between;
        &--menu {
            @include desktop {
                display: none;
            }
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            display: flex;
            padding: 0;
            z-index: 2;
            width: 4em;
            .line {
                fill: none;
                stroke: $text_color--hover;
                stroke-width: 6;
                transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            .line1 {
                stroke-dasharray: 60 207;
                stroke-width: 6;
            }
            .line2 {
                stroke-dasharray: 60 60;
                stroke-width: 6;
            }
            .line3 {
                stroke-dasharray: 60 207;
                stroke-width: 6;
            }
        }
        &--opened {
            .line1 {
                stroke-dasharray: 90 207;
                stroke-dashoffset: -134;
                stroke-width: 6;
            }
            .line2 {
                stroke-dasharray: 1 60;
                stroke-dashoffset: -30;
                stroke-width: 6;
            }
            .line3 {
                stroke-dasharray: 90 207;
                stroke-dashoffset: -134;
                stroke-width: 6;
            }
        }
    }
}

.navbar__menu,
.navbar__auth {
    @include horizontal-list();
    .navbar--item {
        position: relative;
        &::after {
            content: '';
            background-color: $primary_color;
            width: 0%;
            height: 5px;
            left: 0;
            bottom: 0;
            position: absolute;
        }
    }
    .active {
        &::after {
            width: 100%;
        }
    }
}

.navbar__menu {
    @include tablet {
        position: absolute;
        width: 100vw;
        top: 0;
        right: 0;
        display: flex;
        background-color: $primary_color--header;
        flex-direction: column;
        text-align: center;
        z-index: 1;
        transform: translateY(0);
        transition: 0.3s ease;

        &--active {
            transform: translateY(-100%);
        }
    }

    @include mobile {
        position: absolute;
        width: 100vw;
        top: 0;
        right: 0;
        display: flex;
        background-color: $primary_color--header;
        flex-direction: column;
        text-align: center;
        z-index: 1;
        transform: translateY(0);
        transition: 0.3s ease-in-out;

        &--active {
            transform: translateY(-100%);
        }
    }
}

.navbar__auth {
    &--menu {
        font-size: 1.5em;
        color: inherit;
        padding: 0 2em;
        transition: 0.3s all;
        @include mobile {
            padding: 0 1em;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}
