@import '../../assets/_mixin';
@import '../../assets/_responsive';
@import '../../assets/_variable';

.header {
    height: 5em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: $color1;
    z-index: 1;

    & > * {
        height: 100%;
        display: inherit;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 0 0 0 $color4, 0 1px 0 0 $color4, 0px 0px 0 0 $color4,
            0px 0 0 0 $color4 inset, 0 0px 0 0 $color4 inset;
    }

    &--menu,
    &--theme {
        width: 150px;

        svg {
            font-size: 1.5em;
            cursor: pointer;
            transition: 0.3s ease;
            g {
                fill: $color2;
            }
        }
    }

    &--content {
        width: calc(100% - 300px);
        position: relative;

        &__logo {
            color: $color2;
            text-decoration: none;
            font: {
                family: var(--font-family-second);
                size: 1.8em;
            }
        }
    }
}
