@import '../../assets/_mixin';
@import '../../assets/_responsive';
@import '../../assets/_variable';

#header {
    background: $primary_color--header;
}
.header__container {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $desktop;
    height: 7em;

    .header__logo {
        display: inherit;
        align-items: center;
        @include reset-link();
        &--primary {
            font-size: 40px;
            font-family: 'Pacifico', cursive;
            cursor: pointer;
            a {
                color: inherit;
            }
        }
        &--secondary {
            font-size: 12px;
        }
        &--split {
            height: 1.5em;
            width: 1px;
            background-color: #9c9c9c;
            margin: 1.5em;
        }
    }
    .header__navbar {
        display: inherit;
        align-items: center;
        justify-content: space-between;
    }
}

.navbar__menu,
.navbar__auth {
    @include horizontal-list();
    .navbar--item {
        position: relative;
        &::after {
            content: '';
            background-color: $primary_color;
            width: 0%;
            height: 5px;
            left: 0;
            bottom: 0;
            position: absolute;
        }
    }
    .active {
        &::after {
            width: 100%;
        }
    }
}
