@import '../../assets/_mixin';
@import '../../assets/_responsive';

.header__container {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $large_desktop;

    .header__logo {
        @include reset-link();
        a {
            display: block;
            position: absolute;
            width: 7em;
            padding: .5em;
        }
    }
    .header__navbar {
        display: inherit;
        justify-content: space-between;
    }
}

.navbar__menu,
.navbar__auth {
    @include horizontal-list();
    li > .navbar--item {
        position: relative;
        &::after {
            content: '';
            background-color: $primary_color;
            width: 0%;
            height: 5px;
            left: 0;
            bottom: 0;
            position: absolute;
        }
    }

    li > .active {
        &::after {
            width: 100%;
        }
    }
}
