@import '../../assets/_variable';

.article {
    &__collect {
        height: 5em;
        box-shadow: 1px 0 0 0 $color4, 0 1px 0 0 $color4, 0px 0px 0 0 $color4,
            0px 0 0 0 $color4 inset, 0 0px 0 0 $color4 inset;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 10em;

        button {
            border-radius: 3em;
            border: none;
            background-color: transparent;
            outline: none;
            padding: 0.5em 1em;
            cursor: pointer;
            box-shadow: 0px 3px 6px $color6;

            &:active {
                box-shadow: none;
            }
        }

        & > .collected {
            box-shadow: none;
            border: 2px solid $color3;
            color: $color3;
        }
    }

    &__content {
        max-width: 1000px;
        margin: 5em auto;

        &--header {
            text-align: center;
            margin: 5em auto;

            .title {
                font-size: 2em;
            }

            span {
                display: flex;
                justify-content: center;

                .highlight {
                    margin: 0 .5em;

                    &__text {
                        color: $color3;
                        text-decoration: none;
                    }

                    &__time {
                        color: $color6;
                    }
                }
            }
        }

        &--body {
            font-size: 1.2em;
        }
    }
}