@import '../../assets/_responsive';
@import '../../assets/_variable';
@import '../../assets/_mixin';

.sign {
    height: calc(100vh - 6.3em);
    display: flex;
    background-color: $primary_color--body;

    &__form {
        width: 20em;
        margin: auto;
        display: flex;
        flex-direction: column;

        &>* {
            display: flex;
            margin-bottom: 2em;
            align-items: center;
            position: relative;
        }

        &--username,
        &--password {
            border-bottom: 1px solid $primary_color;
        }

        &--icon {
            font-size: 1.5em;
        }

        &--placeholder {
            position: absolute;
            left: 3em;
            top: calc(50%);
            transform: translateY(-50%);
            transition: top .3s ease,
                font-size .3s ease,
                left .3s ease,
                color .3s ease;
            pointer-events: none;
        }

        input[type="text"],
        input[type="password"] {
            background-color: transparent;
            border: none;
            outline: none;
            padding: 1em;
            width: 18em;
            color: $primary_color;
            display: flex;
            -webkit-appearance: none;
            -ms-appearance: none;
            -moz-appearance: none;
            appearance: auto;

            &:focus+.sign__form--placeholder,
            &:valid+.sign__form--placeholder {
                top: -1em;
                font-size: .8em;
                left: 0;
            }
        }

        &--submit {
            margin: auto;
            padding: .7em 8.2em;
            border: none;
            outline: none;
            border-radius: 50px;
            cursor: pointer;
            background-color: $text_color--hover;
            color: #f8f9fa;
            text-transform: uppercase;
            box-shadow: inset 0px 1px 5px black;
            transition: .3s ease;

            &:hover {
                color: $text_color--hover;
                background-color: #f8f9fa;
                box-shadow: inset 0px 1px 5px #ccc;
            }
        }

        &--link {
            border: none;
            text-align: end;
            justify-content: flex-end;
            color: $primary_color;
            transition: .3s ease;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.redirect__to {
    &>* {
        margin: 0 1.5em 0 0;
        color: $primary_color;
        transition: .3s ease;
    }

    &:hover>.curved__arrow {
        transform: rotate(90deg) !important;
    }

    p {
        font-size: 1.5em;
        font-weight: 500;

        &:hover {
            color: $text_color--hover;
        }
    }

    .curved__arrow {
        @include curved__arrow($primary_color, 170deg);
    }
}