@import '../../assets/_variable';

.search {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20em;

    &__icon {
        position: absolute;
        font-size: 1.8em;
        color: $primary_color;
        cursor: pointer;
    }
    
    & > input[type='text'] {
        border: none;
        outline: none;
        padding: 0.6em 2em;
        background-color: transparent;
        border-bottom: 2px solid $primary_color;
        color: $primary_color;

        &:focus,
        &:valid {
            border-bottom-color: $text_color--hover;
        }
    }
}
