{
    "presets": [
        [
            "@babel/preset-env",
            {
                "debug": false,
                "modules": false,
                "useBuiltIns": false
            }
        ]
    ],
    "plugins": ["@babel/plugin-transform-runtime"],
    "sourceMaps": "inline",
    "retainLines": true
}
